<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Camera feature -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArborTag"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>

        <activity
            android:name=".NewLocationActivity"
            android:label="New Location"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".TreeTaggingActivity"
            android:label="Tag Tree"
            android:parentActivityName=".NewLocationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".SpeciesSelectionActivity"
            android:label="Select Species"
            android:parentActivityName=".TreeTaggingActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DataCurationActivity"
            android:label="Data Curation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DataAnalysisActivity"
            android:label="Data Analysis"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".MapViewerActivity"
            android:label="Map View"
            android:parentActivityName=".DataAnalysisActivity"
            android:exported="false"/>

        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>